/* /src/styles/layout.css */
.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing);
}

.section {
  padding: 4rem 0;
}

.card-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--color-bg);
}
